html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: none;
  text-align: initial;
  border: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
